{% extends 'base.html' %}

{% block title %}Catalog{% endblock %}

{% block content %}

<h2>Book Catalog</h2>
{% if message %}
<p>{{ message }}</p>
{% endif %}
{% for book in books %}
    <h3>{{ book.title }}</h3>
    <p>Author: {{ book.author }}</p>
    <p>{{ book.description }}</p>
    <p><a href="{% url 'book_detail' book_id=book.id %}">Comments ({{ book.comment_count }})</a></p>
    <a href="{% url 'add_to_favorites' book.id %}" class="btn btn-primary">Add to favorite</a>
    <hr>
{% endfor %}
{% endblock %}